
*{
    padding: 0;
    margin: 0;

}
    html{
    width: 100%;
    background-image: url("food.jpg");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: rgba(58, 9, 87, 0.6);
    height: 78px;
    width: 100vw;
    position: fixed;
    justify-content: space-between;
    align-items: center;
}

#rt,#er{
    flex-basis: 10%;
    flex-shrink: 0;
    width: 150px;
    height:20px;
    display: flex; 
    justify-content: stretch;
}
#qq{
    border:1px white solid;
    border-radius: 10%;
    display: flex;
   
    
}
.tt{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px rebeccapurple solid;
    flex-shrink: 2;
}
.tt div{
    width: 25%;
    text-align: center;
}
.tt div:hover{
    border-bottom: 5px rgb(0, 255, 255) solid;
}
#qq #ww{
    background-color: khaki;
}
#qq div{
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
width: fit-content;
width: 20px;
height: 30px;
}
@media(max-width:600px){
    #rt,#er{
        
        display: none; 
    }
    
    .we{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .we div{
        height:30px;
        border: .4px whitesmoke solid;
        background-color: blueviolet;
    }
    .we div:hover{
        background-color: rgb(131, 87, 172);
    }
    .we div{
        display: flex;
        justify-content: start;
        align-items: center;
        
      
    }
    .yy,.xy,.xx,.yx{   
       height:20px;
        fill:white;
        width: 10%;  
        margin-left: 10px;  
    }
    h{
        font-size: 10px;
        color: whitesmoke;

    }

}
@media(min-width:600px){
    .we{
        display: none;
    }
}

 .ty section{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     color: rgb(0, 255, 255);
     font-weight: bolder;
     font-size: 50px;
     text-align: center;
     }

.yy,.xy,.xx,.yx{   
   
    fill:white;    
}
.yy:hover,.xy:hover,.xx:hover,.yx:hover{
 fill: rgb(255, 21, 255);
 border: 1px white solid;
 stroke:30% blueviolet ;
 cursor: grab;
 
}
section{
    height: 100vh;
}
#ii{
    animation-name: word;
    animation-duration:4s;
     animation-iteration-count: infinite;
    /*animation-timing-function:linear ;
    animation-direction:alternate ;
 */
}
@keyframes word{
    0%{
      font-size: 40px;
      color: rebeccapurple;
      transform:rotate(0turn);
     
    }
    100%{
        font-size: 100px;
        color: red;
        transform:rotate(1turn);
        
    }
}
